* {
  font-family: Rubik;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  > li {
    width: 33.3%;
  }
  
}
@media only screen and (min-widht: 600px) {
  .container {
    flex-direction: row;
  }

  .cards {
    border-radius: 5px 5 5 5;
    border: px solid red;

  }
}
